
    <div class="container">
    <form #userData='ngForm' (ngSubmit)="changeUser(userData)" class="form-signin">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        <h4>Step 2/2</h4>
        <label class="sr-only"> UserName </label>
        <input type="text" name="displayName" class="form-control" (ngModel)="displayName" placeholder="UserName" required>
       <!--  <label class=""> PhotoURL </label>
        <input type="text" name="photoURL" class="form-control"  (ngModel)="photoURL" required> -->
        <h4 class="text-center"> Select Avatar </h4>

        <div class="row">
            <li *ngFor="let avatar of avatares" class="thumbnail col-md-2">
                <img src= {{avatar}} [class.img-circle]="avatar === selectedAvatar" (click)="onSelect(avatar)">
            </li>
        </div>

        <button style="margin-top:10px" type="submit" class="btn btn-lg btn-danger btn-block" [disabled]="!userData.valid">Submit</button>

    </form>   
    </div>  