
<div class="container">
	<div class="row">
		<h3>Add Trip</h3>
		<form (ngSubmit)="onSubmit()" #TripForm="ngForm">
			<div class="form-group col-md-4">
				<label for="from">From</label>
				<input type="text" class="form-control" id="from" [(ngModel)]="model.from" name="from" required #from="ngModel">
				<div [hidden]="from.valid || from.pristine" class="alert alert-danger">
				From Place it´s mandatory
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="to">To</label>
				<input type="text" class="form-control" id="to" [(ngModel)]="model.to" name="to" required #to="ngModel">
				<div [hidden]="to.valid || to.pristine" class="alert alert-danger">
				To Place it´s mandatory
				</div>
			</div>
		<!-- 	<div class="form-group">
				<label for="map">Map</label>
				<input type="text" class="form-control" id="map" [(ngModel)]="model.map" name="map">
			</div>
	 -->
			<div class="form-group col-md-4">
				<label for="date">Date</label>
				<input type="date" class="form-control" id="date" [(ngModel)]="model.date" name="date" required #date="ngModel">
				<div [hidden]="date.valid || date.pristine" class="alert alert-danger">
				You must submit a date
				</div>
			</div>
			<div class="form-group col-md-4">
				<label for="isPlane">Travel by Plane?</label>
				<input type="radio"  name="isPlane" [(ngModel)]="model.isPlane" #isPlane="ngModel" [value]=true>
				<input type="radio" name="isPlane" [(ngModel)]="model.isPlane" #isPlane="ngModel" [value]=false>
			</div>
			<div class="form-group col-md-4">
				<label for="isRoad">Travel by Road?</label>
				<input type="radio"  name="isRoad" [(ngModel)]="model.isRoad" #isRoad="ngModel" [value]=true>
				<input type="radio" name="isRoad" [(ngModel)]="model.isRoad" #isRoad="ngModel" [value]=false>
			</div>
			<div class="form-group col-md-4">
				<label for="isLowCost">This Trip is Low Cost?</label>
				<input type="radio"  name="isLowCost" [(ngModel)]="model.isLowCost" #isLowCost="ngModel" [value]=true>
				<input type="radio" name="isLowCost" [(ngModel)]="model.isLowCost" #isLowCost="ngModel" [value]=false>
			</div>
			<div class="form-group col-md-4">
				<label for="isAny">Trip to any place in any time?</label>
				<input type="radio"  name="isAny" [(ngModel)]="model.isAny" #isLowCost="ngModel" [value]=true>
				<input type="radio" name="isAny" [(ngModel)]="model.isAny" #isLowCost="ngModel" [value]=false>
			</div>



			<button type="submit" class="btn btn-default btn-danger centerImg" [disabled]="!TripForm.form.valid">Submit</button>
		</form>

	</div>
</div>