   <br>
   <br>
   <div class="container">
    <ul class="list-group">
      <li *ngFor="let trip of trips | async" class="list-group-item" [class.selected]="trip === selectedTrip"
        (click)="onSelect(trip)"> 
        <span  class="badge">{{trip.uid}}</span>
        {{trip.userName}} wants trip from {{trip.from}} to {{trip.to}} on {{trip.date}}
      </li>
    </ul>
    <trip-detail [trip]="selectedTrip"></trip-detail>
    <trip-form *ngIf="(af.auth | async)" (modelEmitter)="new_Trip($event)"></trip-form>
