<div class="container">
    <h2>Account Page</h2> 
    <hr>
    <h3>Change Name</h3>
    <form #userData='ngForm' (ngSubmit)="changeUser(userData)">
        <div class="row">
            <div class="form-group col-md-4">
                <label> Change Name
                    <input type="text" name="displayName" (ngModel)="displayName" required>
                </label>
            </div>            
            <div class="orm-group col-md-4">
                <label> PhotoURL
                    <input type="url" name="photoURL" (ngModel)="photoURL" required>
                </label>
            </div>
            <div class="">
                <button type="submit" class="btn btn-lg btn-danger" [disabled]="!userData.valid">Submit</button>
            </div>
        </div>
    </form>    
    <hr>
    <h3>Change Email</h3>
    <form #emailData='ngForm' (ngSubmit)="changeEmail(emailData)">
        <div class="row">
            <div class="form-group col-md-4">
                <label> Change Email
                    <input type="email" name="email" (ngModel)="email" required>
                </label>
            </div>            
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-lg btn-danger " [disabled]="!emailData.valid">Submit</button>
            </div>
        </div>
    </form>
    <hr>
    <h3>Change Password</h3>
    <form #passwordData='ngForm' (ngSubmit)="changePassword(passwordData)">
        <div class="row">
            <div class="form-group col-md-4">
                <label> Old Password
                    <input type="password" name="oldpassword" (ngModel)="oldpassword" required>
                </label>
            </div>
            <div class="form-group col-md-4">
                <label> New Password
                    <input type="password" name="newpassword" (ngModel)="newpassword" required>
                </label>
            </div>
            <div class="form-group col-md-4">
                <button type="submit" class="btn btn-lg btn-danger" [disabled]="!passwordData.valid">Submit</button>
            </div>
        </div>
    </form>
</div>
