<div class="row">
    <div class="">
        <h5 class="">
          Dashboard which only Logged in Can see this
        </h5>
    </div>
    <div class="">
        <div class="">
            <ul class="menu">
                <li>Dashboard</li>
                <li><a routerLink="/dashboard/profile">Profile</a></li>
                <li><a routerLink="/dashboard/account">Account</a></li>
                <li><a routerLink="/dashboard/settings">Settings</a></li>
                <li><a routerLink="/">Trips</a></li>
            </ul>
        </div>
        <hr>
    </div>
</div>
<div class="row">
    <router-outlet></router-outlet>
</div>
