<div class="container">
    <div class="row">
        <div>
            <h2 class="col-md-12">
              Dashboard
            </h2>
        </div>
        <div class="col-md-12">
            <div class="">
                <ul class="">
                    <li><a routerLink="/dashboard/profile">Profile</a></li>
                    <li><a routerLink="/dashboard/account">Account</a></li>
                    <li><a routerLink="/dashboard/settings">Settings</a></li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>
